pysped/efdreinf/leiaute/schema/v1.03.02/ConsultasReinf.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ConsultasReinf" targetNamespace="http://sped.fazenda.gov.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://sped.fazenda.gov.br/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
	<wsp:Policy Id="WsReceberLoteEventos_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="true"/>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256/>
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Strict/>
							</wsp:Policy>
						</sp:Layout>
					</wsp:Policy>
				</sp:TransportBinding>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://sped.fazenda.gov.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="ConsultaInformacoesConsolidadas">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="tipoInscricaoContribuinte" type="xs:unsignedByte"/>
						<xs:element minOccurs="0" maxOccurs="1" name="numeroInscricaoContribuinte" type="xs:string"/>
						<xs:element minOccurs="0" maxOccurs="1" name="numeroReciboFechamento" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ConsultaInformacoesConsolidadasResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="1" name="ConsultaInformacoesConsolidadasResult">
							<xs:complexType mixed="true">
								<xs:sequence>
									<xs:any/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ConsultasReinf_ConsultaInformacoesConsolidadas_InputMessage">
		<wsdl:part name="parameters" element="tns:ConsultaInformacoesConsolidadas"/>
	</wsdl:message>
	<wsdl:message name="ConsultasReinf_ConsultaInformacoesConsolidadas_OutputMessage">
		<wsdl:part name="parameters" element="tns:ConsultaInformacoesConsolidadasResponse"/>
	</wsdl:message>
	<wsdl:portType name="ConsultasReinf">
		<wsdl:operation name="ConsultaInformacoesConsolidadas">
			<wsdl:input wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaInformacoesConsolidadas" message="tns:ConsultasReinf_ConsultaInformacoesConsolidadas_InputMessage"/>
			<wsdl:output wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaInformacoesConsolidadasResponse" message="tns:ConsultasReinf_ConsultaInformacoesConsolidadas_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_ConsultasReinf" type="tns:ConsultasReinf">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsp:PolicyReference URI="#WsReceberLoteEventos_policy"/>
		<wsdl:operation name="ConsultaInformacoesConsolidadas">
			<soap:operation soapAction="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaInformacoesConsolidadas" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ConsultasReinf">
		<wsdl:port name="BasicHttpBinding_ConsultasReinf" binding="tns:BasicHttpBinding_ConsultasReinf">
			<soap:address location="https://hom-reinf.receita.fazenda.gov.br/WsREINF/ConsultasReinf.svc"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>